{% extends 'base.html' %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1>Seja vem vindo</h1>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
    </div>
    <div class="col-sm">
           {% if user.is_authenticated %}
            <p>Olá {{ user.username }}</p>
            <br>
            <a href="{% url 'logout' %}" class="btn btn-dark">Sair</a>
            {% else %}
            <br>
            <a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
          {% endif %}
    </div>
    <div class="col-sm">
    </div>
  </div>

{% endblock %}