{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock %}

{% block main %}

    <div style="margin: 100px auto; align: center; height: 350px; width: 300px; border: 2px solid orange; padding: 30px; border-radius: 10px;">
        <h2>Login</h2>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <br>
            <button type="submit" class="btn btn-primary" style="float: right;">Entrar</button>
    </div>
{% endblock %}

