{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Administração {% endblock %}
{% block main %}

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <h2>Lista de clientes</h2>
            <ul class="list-group">
                {% for persons in person %}
                        <li class="list-group-item">
                            <a href="{% url 'persons_update' persons.id %}" ><strong>{{ persons.first_name }}</strong></a>
                            <a href="{% url 'persons_delete' persons.id %}" style="float: right;">
                                <i class="fas fa-trash" style="color: red;"></i>
                            </a>
                        </li>
                {% endfor %}
                </ul>
                <br>
                <a href="{% url 'person_new' %}" class="btn btn-primary btn-sm">Novo Cliente</a>
                <br>
                <br>
                <a href="{% url 'logout' %}" class="btn btn-dark btn-sm">Sair</a>

        </div>
        <div class="col-sm">

        </div>
    </div>
{% endblock %}






